<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid text-center">
    <div class="text-center"><h1>Welcome</h1></div>

    <form th:action="@{/login/loginUser}" method="post" th:object="${user}"
          style="max-width: 500px; margin: 0 auto; padding-top: 100px">
        <input type="hidden" th:field="*{userId}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Userame</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{username}" class="form-control" required minlength="2" maxlength="45"/>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
                <a href="/register" class="link-danger">Register</a>
            </p>
        </div>

    </form>

</div>

</body>
</html>